<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNmeq_r45m0cc5mEjm2lC21A0xxZ1667I</string>
	<key>GCM_SENDER_ID</key>
	<string>51357316925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myexpensetraker.myexpensetraker</string>
	<key>PROJECT_ID</key>
	<string>expensesone</string>
	<key>STORAGE_BUCKET</key>
	<string>expensesone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51357316925:ios:52ba22bb6b86acb3fab754</string>
</dict>
</plist>